{{ define "content" }}
    <h1 class="text-3xl">Welcome to {{.SiteName}}</h1>
    <p class="mt-2">{{.Description}}</p>
    <div class="border mb-2"></div>
{{ end }}
{{ define "layout" }}
{{ template "default" . }}
{{ end }}
